Repository NVIDIA-NeMo/Export-Deploy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @athitten, @oyilmaz-nvidia, @pthombre

test
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

fix
  uv.lock
Owners: @nvidia-nemo/automation

TE
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

fix
  .github/workflows/install-test.yml
Owners: @nvidia-nemo/automation

remove no-cuda track
  .github/workflows/install-test.yml
Owners: @nvidia-nemo/automation

"te,trt-onnx"
  .github/workflows/install-test.yml
Owners: @nvidia-nemo/automation

fix build and release
  .github/workflows/build-test-publish-wheel.yml
  .github/workflows/release.yaml
Owners: @nvidia-nemo/automation

bump
  .github/workflows/build-test-publish-wheel.yml
Owners: @nvidia-nemo/automation

runner
  .github/workflows/build-test-publish-wheel.yml
  .github/workflows/release.yaml
Owners: @nvidia-nemo/automation

update
  .github/workflows/install-test.yml
  README.md
  docker/common/install.sh
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation, @athitten, @oyilmaz-nvidia, @pthombre

use wheel
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

Update community-bot to add issues to project board
  .github/workflows/community-bot.yml
Owners: @nvidia-nemo/automation

update
  .github/workflows/release.yaml
Owners: @nvidia-nemo/automation

Adding additional tests for MBridge path
  tests/unit_tests/deploy/test_inference_base.py
  tests/unit_tests/deploy/test_megatronllm_deployable.py
Owners: none

build: Add Megatron-Bridge (#325)
  .github/workflows/build-test-publish-wheel.yml
  .github/workflows/install-test.yml
  .github/workflows/release.yaml
  README.md
  docker/common/install.sh
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation, @athitten, @oyilmaz-nvidia, @pthombre

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation
uv.lock @nvidia-nemo/automation

nemo_export @athitten @oyilmaz-nvidia @pthombre
nemo_deploy @athitten @oyilmaz-nvidia @pthombre
nemo_export_deploy @athitten @oyilmaz-nvidia @pthombre
scripts @athitten @oyilmaz-nvidia @pthombre
README.md @athitten @oyilmaz-nvidia @pthombre
