Repository NVIDIA-NeMo/Export-Deploy, changes with the labels that .github/labeler.yml gives for each.
All labels: export, deploy, multimodal, LLM, common, TensorRT-LLM, vLLM, ONNX, documentation, tests, scripts, CI

.github/labeler.yml:

export:
- nemo_export/**/*
- scripts/export/**/*
- tests/functional_tests/tests_trtllm/test_export.py
- tests/functional_tests/tests_onnx_trt/test_export.py
- tests/unit_tests/export/**/*
- docs/llm/**/*gen*ckpt.md
- docs/mm/**/*gen*ckpt.md

deploy:
- nemo_deploy/**/*
- scripts/deploy/**/*
- tests/functional_tests/tests_trtllm/test_deploy*.py
- tests/unit_tests/deploy/**/*
- docs/llm/**/in-framework*.md
- docs/mm/**/in-framework*.md

multimodal:
- nemo_export/multimodal/**/*
- nemo_deploy/multimodal/**/*
- scripts/deploy/multimodal/**/*
- docs/mm/**/*

LLM:
- nemo_deploy/llm/**/*
- scripts/deploy/nlp/**/*
- docs/llm/**/*

common:
- nemo_export_deploy_common/**/*

TensorRT-LLM:
- nemo_export/trt_llm/**/*
- nemo_export/tensorrt_llm*.py
- tests/functional_tests/tests_trtllm/**/*
- scripts/export/export_to_trt_llm.py
- docs/llm/**/optimized/**/*
- docs/mm/**/optimized/**/*

vLLM:
- nemo_export/vllm_exporter.py
- tests/functional_tests/tests_vllm/**/*

ONNX:
- nemo_export/onnx_llm_exporter.py
- tests/functional_tests/tests_onnx_trt/**/*
- tutorials/onnx_tensorrt/**/*

documentation:
- docs/**/*
- README.md
- tutorials/**/*

tests:
- tests/**/*

scripts:
- scripts/**/*

CI:
- .github/**/*
- Dockerfile*
- docker/**/*

Fix minor test
  tests/unit_tests/export/test_vllm_exporter.py
Labels: export, tests

Update test
  tests/functional_tests/tests_inframework/test_deploy_query_mlm_ray.py
Labels: tests

Minor update
  tests/functional_tests/tests_inframework/test_deploy_query_mlm_ray.py
Labels: tests

Change type for --runtime_env in ray in-fw deployment script
  scripts/deploy/nlp/deploy_ray_inframework.py
Labels: deploy, LLM, scripts

Fix linting errors
  scripts/deploy/nlp/deploy_ray_inframework.py
Labels: deploy, LLM, scripts

Add unit tests for json_type
  tests/unit_tests/deploy/test_deploy_ray.py
Labels: deploy, tests

Update trt-llm doc for nemo 2
  docs/llm/nemo_2/optimized/tensorrt-llm.md
Labels: LLM, TensorRT-LLM, documentation

chore(beep boop 🤖): Bump `uv.lock` (r0.3.0) (2025-11-10)
  uv.lock
Labels: none

chore(beep boop 🤖): Bump `uv.lock` (main) (2025-11-10)
  uv.lock
Labels: none

Update trt-llm doc for nemo 2 (#506)
  docs/llm/nemo_2/optimized/tensorrt-llm.md
Labels: LLM, TensorRT-LLM, documentation

Update trt-llm doc for nemo 2 (#506)
  docs/llm/nemo_2/optimized/tensorrt-llm.md
Labels: LLM, TensorRT-LLM, documentation

cp: `Update trt-llm doc for nemo 2 (506)` into `r0.3.0` (#509)
  docs/llm/nemo_2/optimized/tensorrt-llm.md
Labels: LLM, TensorRT-LLM, documentation

Update multimodal in-framework fastapi
  README.md
  nemo_deploy/multimodal/nemo_multimodal_deployable.py
  nemo_deploy/multimodal/query_multimodal.py
  nemo_deploy/service/fastapi_interface_to_pytriton_multimodal.py
  scripts/deploy/multimodal/query_fastapi_inframework.py
  scripts/deploy/multimodal/query_inframework.py
  tests/unit_tests/deploy/test_fastapi_interface_to_pytriton_multimodal.py
  tests/unit_tests/deploy/test_nemo_multimodal_deployable.py
  tests/unit_tests/deploy/test_query_multimodal.py
Labels: deploy, multimodal, documentation, tests, scripts

chore(beep boop 🤖): Bump `uv.lock` (main) (2025-11-17)
  uv.lock
Labels: none

chore(beep boop 🤖): Bump `uv.lock` (r0.3.0) (2025-11-17)
  uv.lock
Labels: none

compatibility fix
  pyproject.toml
Labels: none

uv generate lockfile workflow
  .github/workflows/generate-lockfile.yml
Labels: CI

Add push trigger for lockfile workflow
  .github/workflows/generate-lockfile.yml
Labels: CI

Add wheel_stub to build dependencies
  .github/workflows/generate-lockfile.yml
Labels: CI

Change type for --runtime_env in ray in-fw deployment script (#505)
  scripts/deploy/nlp/deploy_ray_inframework.py
  tests/unit_tests/deploy/test_deploy_ray.py
Labels: deploy, LLM, tests, scripts

Change type for --runtime_env in ray in-fw deployment script (#505)
  scripts/deploy/nlp/deploy_ray_inframework.py
  tests/unit_tests/deploy/test_deploy_ray.py
Labels: deploy, LLM, tests, scripts

Fix workflow to commit on push events
  .github/workflows/generate-lockfile.yml
Labels: CI

Remove temporary push trigger from workflow
  .github/workflows/generate-lockfile.yml
Labels: CI

fix : New peft release adjust fix (#514)
  .github/workflows/generate-lockfile.yml
  pyproject.toml
  uv.lock
Labels: CI

ensure vLLM receives valid params regardless of env changes
  nemo_deploy/llm/hf_deployable_ray.py
Labels: deploy, LLM

ruff
  nemo_deploy/llm/hf_deployable_ray.py
Labels: deploy, LLM

Update pre-flight workflow version to v0.66.0
  .github/workflows/build-test-publish-wheel.yml
Labels: CI

Minor fixes for nemotron deployment
  nemo_deploy/llm/inference/inference_base.py
  nemo_deploy/llm/inference/tron_utils.py
Labels: deploy, LLM

Lint fixes
  nemo_deploy/llm/inference/inference_base.py
  nemo_deploy/llm/inference/tron_utils.py
Labels: deploy, LLM

cp: `Change type for --runtime_env in ray in-fw deployment script (505)` into `r0.3.0` (#515)
  scripts/deploy/nlp/deploy_ray_inframework.py
  tests/unit_tests/deploy/test_deploy_ray.py
Labels: deploy, LLM, tests, scripts

chore(beep boop 🤖): Bump `uv.lock` (main) (2025-11-24)
  uv.lock
Labels: none

chore(beep boop 🤖): Bump `uv.lock` (r0.3.0) (2025-11-24)
  uv.lock
Labels: none

fix: ensure vLLM receives valid params regardless of env changes (#516)
  nemo_deploy/llm/hf_deployable_ray.py
Labels: deploy, LLM

Fix minor issue
  docs/llm/nemo_2/optimized/tensorrt-llm.md
Labels: LLM, TensorRT-LLM, documentation

Fix minor doc issue (#521)
  docs/llm/nemo_2/optimized/tensorrt-llm.md
Labels: LLM, TensorRT-LLM, documentation

Update changelog for release 0.3.0
  CHANGELOG.md
Labels: none

Update changelog for release 0.3.0 (#522)
  CHANGELOG.md
Labels: none

Change log and library version update
  CHANGELOG.md
  nemo_export_deploy_common/package_info.py
Labels: common

Change log and library version update (#523)
  CHANGELOG.md
  nemo_export_deploy_common/package_info.py
Labels: common
