Repository NVIDIA-NeMo/Export-Deploy, changes with the labels that .github/labeler.yml gives for each.
All labels: export, deploy, multimodal, LLM, common, TensorRT-LLM, vLLM, ONNX, documentation, tests, scripts, CI

NeMo-Export-Deploy 0.2.1 changelog
  CHANGELOG.md
Labels: none

NeMo-Export-Deploy 0.2.1 changelog
  CHANGELOG.md
Labels: none

NeMo-Export-Deploy 0.2.1 changelog (#489)
  CHANGELOG.md
Labels: none

NeMo-Export-Deploy 0.2.1 changelog (#489)
  CHANGELOG.md
Labels: none

cp: Update changelog for v0.2.1 (489) into r0.2.0 (#490)
  CHANGELOG.md
Labels: none

beep boop 🤖: Bumping to v0.2.2
  nemo_export_deploy_common/package_info.py
Labels: common

Add torch_dtype and default values (#466)
  nemo_deploy/deploy_ray.py
  nemo_deploy/llm/hf_deployable.py
  nemo_deploy/llm/hf_deployable_ray.py
  scripts/deploy/nlp/deploy_inframework_hf_triton.py
  scripts/deploy/nlp/deploy_ray_hf.py
Labels: deploy, LLM, scripts

Add torch_dtype and default values (#466)
  nemo_deploy/deploy_ray.py
  nemo_deploy/llm/hf_deployable.py
  nemo_deploy/llm/hf_deployable_ray.py
  scripts/deploy/nlp/deploy_inframework_hf_triton.py
  scripts/deploy/nlp/deploy_ray_hf.py
Labels: deploy, LLM, scripts

cp: `Support apply_chat_template in NeMo MM in-framework deployment (440)` into `r0.3.0` (#486)
  README.md
  nemo_deploy/multimodal/nemo_multimodal_deployable.py
  nemo_deploy/multimodal/query_multimodal.py
  nemo_deploy/service/fastapi_interface_to_pytriton_multimodal.py
  scripts/deploy/multimodal/deploy_inframework_triton.py
  scripts/deploy/multimodal/query_inframework.py
  scripts/deploy/multimodal/query_ray_deployment.py
  tests/unit_tests/deploy/test_fastapi_interface_to_pytriton_multimodal.py
  tests/unit_tests/deploy/test_nemo_multimodal_deployable.py
  tests/unit_tests/deploy/test_query_multimodal.py
Labels: deploy, multimodal, documentation, tests, scripts

cp: `Add torch_dtype and default values (466)` into `r0.3.0` (#492)
  nemo_deploy/deploy_ray.py
  nemo_deploy/llm/hf_deployable.py
  nemo_deploy/llm/hf_deployable_ray.py
  scripts/deploy/nlp/deploy_inframework_hf_triton.py
  scripts/deploy/nlp/deploy_ray_hf.py
Labels: deploy, LLM, scripts

Fix minor bug
  nemo_export/tensorrt_llm.py
  nemo_export/tensorrt_llm_deployable_ray.py
Labels: export, TensorRT-LLM

Fix max token input (#478)
  nemo_export/tensorrt_llm_deployable_ray.py
Labels: export, TensorRT-LLM

Fix max token input (#478)
  nemo_export/tensorrt_llm_deployable_ray.py
Labels: export, TensorRT-LLM

Remove scheduled cron job from release workflow
  .github/workflows/release.yaml
Labels: CI

Remove scheduled cron job from release workflow (#494)
  .github/workflows/release.yaml
Labels: CI

Add anchor
  README.md
Labels: documentation

chore(beep boop 🤖): Bump `uv.lock` (r0.3.0) (2025-10-27)
  uv.lock
Labels: none

chore(beep boop 🤖): Bump `uv.lock` (main) (2025-10-27)
  uv.lock
Labels: none

cp: `Fix max token input (478)` into `r0.3.0` (#493)
  nemo_export/tensorrt_llm_deployable_ray.py
Labels: export, TensorRT-LLM

feat: Add anchor (#495)
  README.md
Labels: documentation

Add tokenizer as a parameter
  nemo_deploy/deploy_ray.py
  nemo_deploy/llm/inference/inference_base.py
  nemo_deploy/llm/megatronllm_deployable.py
  nemo_deploy/llm/megatronllm_deployable_ray.py
  scripts/deploy/nlp/deploy_inframework_triton.py
  scripts/deploy/nlp/deploy_ray_inframework.py
  tests/unit_tests/deploy/test_inference_base.py
Labels: deploy, LLM, tests, scripts

Update deploy trion
  scripts/deploy/llm/nemo2/deploy_triton.py
Labels: deploy, scripts

Add one more test for tokenizer_path param
  tests/functional_tests/tests_inframework/test_deploy_query_mlm_ray.py
Labels: tests

Fix linting
  tests/functional_tests/nemo2/test_deploy_query_nemo2_triton.py
Labels: tests

Update MM docs
  docs/mm/nemo_2/in-framework.md
  docs/mm/nemo_2/optimized/tensorrt-llm.md
Labels: deploy, multimodal, TensorRT-LLM, documentation

chore(beep boop 🤖): Bump `uv.lock` (r0.3.0) (2025-11-03)
  uv.lock
Labels: none

chore(beep boop 🤖): Bump `uv.lock` (main) (2025-11-03)
  uv.lock
Labels: none

Fix minor test
  tests/unit_tests/deploy/test_query_llm.py
Labels: deploy, tests

Modify nemo2 ckpt example
  docs/mm/nemo_2/gen_nemo2_ckpt.md
Labels: export, multimodal, documentation

Change qwen2 to qwen25
  docs/mm/nemo_2/gen_nemo2_ckpt.md
  docs/mm/nemo_2/in-framework.md
Labels: export, deploy, multimodal, documentation

Minor fixes for compatibility between Pytriton and Ray deployments with nemo-run
  scripts/deploy/nlp/deploy_inframework_triton.py
  scripts/deploy/nlp/deploy_ray_inframework.py
Labels: deploy, LLM, scripts

Update docstring for num_gpus in ray script
  scripts/deploy/nlp/deploy_ray_inframework.py
Labels: deploy, LLM, scripts

Rename to TP, PP in deploy_inframework_triton.py
  scripts/deploy/nlp/deploy_inframework_triton.py
Labels: deploy, LLM, scripts

Add more tests
  tests/unit_tests/deploy/test_query_llm.py
Labels: deploy, tests

Add max-model-len param for vLLM
  nemo_export/vllm_exporter.py
  scripts/deploy/nlp/deploy_vllm_triton.py
Labels: export, deploy, LLM, vLLM, scripts

Fix TP name in functional tests
  tests/functional_tests/tests_inframework/test_export_deploy_query_pytriton.py
Labels: tests

[Eval] Fixes for compatibility between Pytriton, Ray deployments with nemo-run (#501)
  scripts/deploy/nlp/deploy_inframework_triton.py
  scripts/deploy/nlp/deploy_ray_inframework.py
  tests/functional_tests/tests_inframework/test_export_deploy_query_pytriton.py
Labels: deploy, LLM, tests, scripts

[Eval] Fixes for compatibility between Pytriton, Ray deployments with nemo-run (#501)
  scripts/deploy/nlp/deploy_inframework_triton.py
  scripts/deploy/nlp/deploy_ray_inframework.py
  tests/functional_tests/tests_inframework/test_export_deploy_query_pytriton.py
Labels: deploy, LLM, tests, scripts

New script path (#487)
  nemo_deploy/llm/query_llm.py
  scripts/deploy/llm/automodel/deploy_ray.py
  scripts/deploy/llm/automodel/deploy_triton.py
  scripts/deploy/llm/automodel/query_triton.py
  scripts/deploy/llm/mbridge/deploy_ray.py
  scripts/deploy/llm/mbridge/deploy_triton.py
  scripts/deploy/llm/mlm/deploy_ray.py
  scripts/deploy/llm/mlm/deploy_triton.py
  scripts/deploy/llm/nemo2/deploy_ray.py
  scripts/deploy/llm/nemo2/deploy_triton.py
  scripts/deploy/llm/nemo2/optimized/deploy_tensorrtllm_ray.py
  scripts/deploy/llm/nemo2/optimized/deploy_tensorrtllm_triton.py
  scripts/deploy/llm/nemo2/optimized/deploy_tensorrtllm_triton_api.py
  scripts/deploy/llm/nemo2/optimized/deploy_vllm_triton.py
  scripts/deploy/llm/nemo2/optimized/query_tensorrtllm_triton.py
  scripts/deploy/llm/nemo2/optimized/query_vllm_triton.py
  scripts/deploy/llm/nemo2/query_ray.py
  scripts/deploy/llm/nemo2/query_triton.py
  tests/functional_tests/nemo2/test_deploy_query_nemo2_ray.py
  tests/functional_tests/nemo2/test_deploy_query_nemo2_triton.py
  tests/unit_tests/deploy/test_query_llm.py
Labels: deploy, LLM, tests, scripts

cp: `[Eval] Fixes for compatibility between Pytriton, Ray deployments with nemo-run (501)` into `r0.3.0` (#503)
  scripts/deploy/nlp/deploy_inframework_triton.py
  scripts/deploy/nlp/deploy_ray_inframework.py
  tests/functional_tests/tests_inframework/test_export_deploy_query_pytriton.py
Labels: deploy, LLM, tests, scripts

.github/labeler.yml:

export:
- nemo_export/**/*
- scripts/export/**/*
- tests/functional_tests/tests_trtllm/test_export.py
- tests/functional_tests/tests_onnx_trt/test_export.py
- tests/unit_tests/export/**/*
- docs/llm/**/*gen*ckpt.md
- docs/mm/**/*gen*ckpt.md

deploy:
- nemo_deploy/**/*
- scripts/deploy/**/*
- tests/functional_tests/tests_trtllm/test_deploy*.py
- tests/unit_tests/deploy/**/*
- docs/llm/**/in-framework*.md
- docs/mm/**/in-framework*.md

multimodal:
- nemo_export/multimodal/**/*
- nemo_deploy/multimodal/**/*
- scripts/deploy/multimodal/**/*
- docs/mm/**/*

LLM:
- nemo_deploy/llm/**/*
- scripts/deploy/nlp/**/*
- docs/llm/**/*

common:
- nemo_export_deploy_common/**/*

TensorRT-LLM:
- nemo_export/trt_llm/**/*
- nemo_export/tensorrt_llm*.py
- tests/functional_tests/tests_trtllm/**/*
- scripts/export/export_to_trt_llm.py
- docs/llm/**/optimized/**/*
- docs/mm/**/optimized/**/*

vLLM:
- nemo_export/vllm_exporter.py
- tests/functional_tests/tests_vllm/**/*

ONNX:
- nemo_export/onnx_llm_exporter.py
- tests/functional_tests/tests_onnx_trt/**/*
- tutorials/onnx_tensorrt/**/*

documentation:
- docs/**/*
- README.md
- tutorials/**/*

tests:
- tests/**/*

scripts:
- scripts/**/*

CI:
- .github/**/*
- Dockerfile*
- docker/**/*
