Repository NVIDIA-NeMo/Export-Deploy, pull requests merged in 2025-10, with the labels that each got.

#420 ci: Skip if docs-only label is attached
  .github/workflows/build-docs.yml
  .github/workflows/build-test-publish-wheel.yml
  .github/workflows/cicd-main.yml
  .github/workflows/copyright-check.yml
  .github/workflows/install-test.yml
Labels: r0.2.0, docs-only

#422 cp: `ci: Skip if docs-only label is attached (420)` into `r0.2.0`
  .github/workflows/build-docs.yml
  .github/workflows/build-test-publish-wheel.yml
  .github/workflows/cicd-main.yml
  .github/workflows/copyright-check.yml
  .github/workflows/install-test.yml
Labels: Run CICD, cherry-pick, docs-only

#428 ci(fix): pre-flight
  .github/workflows/build-docs.yml
  .github/workflows/build-test-publish-wheel.yml
  .github/workflows/cicd-main.yml
  .github/workflows/copyright-check.yml
  .github/workflows/install-test.yml
Labels: r0.2.0, docs-only

#427 Remove nemo fw part from the readme
  README.md
Labels: docs-only

#431 ci: Bump pre-flight
  .github/workflows/build-docs.yml
  .github/workflows/build-test-publish-wheel.yml
  .github/workflows/cicd-main.yml
  .github/workflows/copyright-check.yml
  .github/workflows/install-test.yml
Labels: r0.2.0, docs-only

#429 cp: `ci(fix): pre-flight (428)` into `r0.2.0`
  .github/workflows/build-docs.yml
  .github/workflows/build-test-publish-wheel.yml
  .github/workflows/cicd-main.yml
  .github/workflows/copyright-check.yml
  .github/workflows/install-test.yml
Labels: Run CICD, cherry-pick, docs-only

#437 cp: `Changelog update for r0.2.0 (433)` into `r0.2.0`
  CHANGELOG.md
Labels: Run CICD, cherry-pick, docs-only
